<ion-view view-title="Login">
  <ion-content>
    <form name='form_login' ng-controller="login_controller" ng-submit="submit()">
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Login</span>
          <input type="text" name='login' placeholder="Login" ng-model="login">
        </label>
        <label class="item item-input item-floating-label">
          <span class="input-label">Senha</span>
          <input type="password" name='senha' placeholder="Senha" ng-model="senha">
        </label>
      </div>
      <button type='submit' class="button button-block button-positive">
        Entrar
      </button>
      {{mensagem}}
      <center ng-show='loading' class='loading'>
        <ion-spinner icon="bubbles"></ion-spinner>
      </center>
    </form>
  </ion-content>
</ion-view>