<ion-view view-title="Pesquisa">
  <ion-content class="padding">
    <form name='form_pesquisar' ng-controller="resultado_pesquisa_controller" ng-submit="submit()">
      <center ng-show='loading' class='loading'>
        <ion-spinner icon="bubbles"></ion-spinner>
      </center>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Pesquisa</span>
          <input type="text" name='pesquisa' placeholder="Pesquisa" ng-model="pesquisa">
        </label>
      </div>
      <button type='submit' class="button button-block button-positive">
        Pesquisar
      </button>
      <hr />

      <div ng-repeat="resultado in resultados">
        <div ng-if='resultado.cliente == "S"'>
          <a href='#/tab/resultado/{{resultado.id}}'><button class='button button-balanced button-full'>{{resultado.razaosocial}}<br /><span ng-if='resultado.cnpjcidade != null && resultado.cnpjcidade != "" && resultado.cnpjuf != null && resultado.cnpjuf != ""'>{{resultado.cnpjcidade}}, {{resultado.cnpjuf}}</span></button></a>
        </div>

        <div ng-if='resultado.fornecedor == "S"'>
          <a href='#/tab/resultado/{{resultado.id}}'><button class='button button-positive button-full'>{{resultado.razaosocial}}<br /><span ng-if='resultado.cnpjcidade != null && resultado.cnpjcidade != "" && resultado.cnpjuf != null && resultado.cnpjuf != ""'>{{resultado.cnpjcidade}}, {{resultado.cnpjuf}}</span></button></a>
        </div>

        <div ng-if='resultado.cliente != "S" && resultado.fornecedor != "S" && resultado.representante != "S" && resultado.transportador != "S"'>
          <a href='#/tab/resultado/{{resultado.id}}'><button class='button button-royal button-full'>{{resultado.razaosocial}}<br /><span ng-if='resultado.cnpjcidade != null && resultado.cnpjcidade != "" && resultado.cnpjuf != null && resultado.cnpjuf != ""'>{{resultado.cnpjcidade}}, {{resultado.cnpjuf}}</span></button></a>
        </div>

        <div ng-if='resultado.representante == "S"'>
          <a href='#/tab/resultado/{{resultado.id}}'><button class='button button-energized button-full'>{{resultado.razaosocial}}<br /><span ng-if='resultado.cnpjcidade != null && resultado.cnpjcidade != "" && resultado.cnpjuf != null && resultado.cnpjuf != ""'>{{resultado.cnpjcidade}}, {{resultado.cnpjuf}}</span></button></a>
        </div>

        <div ng-if='resultado.transportador == "S"'>
          <a href='#/tab/resultado/{{resultado.id}}'><button class='button button-royal button-full'>{{resultado.razaosocial}}<br /><span ng-if='resultado.cnpjcidade != null && resultado.cnpjcidade != "" && resultado.cnpjuf != null && resultado.cnpjuf != ""'>{{resultado.cnpjcidade}}, {{resultado.cnpjuf}}</span></button></a>
        </div>
      </div>
<!--       verde - cliente
      azul - fornecedor
      contato - normal
      amarelo - representante
      transportador - normal -->
    </form>
  </ion-content>
</ion-view>