<ion-view view-title="Mapa">
  <ion-content class="padding" ng-controller='mapa_controller'>
    <center ng-show='loading' class='loading'>
      <ion-spinner icon="bubbles"></ion-spinner>
    </center>
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>