<ion-view view-title="Pesquisa">
  <ion-content class="padding">
      <center ng-show='loading' class='loading'>
        <ion-spinner icon="bubbles"></ion-spinner>
      </center>
      <hr />
      <center><h1>{{resultado.cliente.razaosocial}}</h1></center>
      <center><p>{{resultado.cliente.cnpjcidade}} - {{resultado.cliente.cnpjuf}}</p></center>
      <center ng-if='resultado.cliente.latitude != "" && resultado.cliente.longitude != ""'>
        <a href='#/tab/mapa/{{resultado.cliente.latitude}}/{{resultado.cliente.longitude}}/{{resultado.cliente.razaosocial}}'><button class='button button-clear button-dark'>Ver no mapa</button></a>
      </center>
      <center>
        <a href='#/tab/historico/{{resultado.cliente.id}}'><button class='button button-clear button-assertive'>Histórico</button></a>
      </center>
      <hr />
        <h4>Contatos:</h4>
        <div ng-repeat='contato in resultado.contatos'>
        <div class='card'>
          <table>
            <tr ng-if='contato.nome != "" && contato.nome != null'><td>Nome:</td><td><b>{{contato.nome}}</b></td></tr>
            <tr ng-if='contato.setor != "" && contato.setor != null'><td>Setor:</td><td><b>{{contato.setor}}</b></td></tr>
            <tr ng-if='contato.ocupacao != "" && contato.ocupacao != null'><td>Ocupação:</td><td><b>{{contato.ocupacao}}</b></td></tr>
            <tr style='text-overflow:ellipsis' ng-if='contato.email != "" && contato.email != null'><td>Email:</td><td><b>{{contato.email}}</b></td></tr>
            <tr ng-if='contato.fone != "" && contato.fone != null'><td>Telefone:</td><td><b>{{contato.fone}}</b></td></tr>
            <tr ng-if='contato.ramal != "" && contato.ramal != null'><td>Ramal:</td><td><b>{{contato.ramal}}</b></td></tr>
            <tr ng-if='contato.fone2 != "" && contato.fone2 != null'><td>Telefone 2:</td><td><b>{{contato.fone2}}</b></td></tr>
            <tr ng-if='contato.ramal2 != "" && contato.ramal2 != null'><td>Ramal 2:</td><td><b>{{contato.ramal2}}</b></td></tr>
            <tr ng-if='contato.cel != "" && contato.cel != null'><td>Celular:</td><td><b>{{contato.cel}}</b></td></tr>
            <tr ng-if='contato.cel2 != "" && contato.cel2 != null'><td>Celular 2:</td><td><b>{{contato.cel2}}</b></td></tr>
          </table>
        </div>
      </div>
  </ion-content>
</ion-view>
