<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" href="#/tab/dadosGerais">
    <ion-nav-view name="dados_gerais"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Pesquisa" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/pesquisa">
    <ion-nav-view name="pesquisa"></ion-nav-view>
  </ion-tab>
  <!-- <ion-tab title="Mapa" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/mapa/-30.0233094/-51.1180206">
    <ion-nav-view name="mapa"></ion-nav-view>
  </ion-tab> -->


</ion-tabs>
