/* Empty. Add your own CSS if you like */
a{
	text-decoration: none;
}

tr{
	font-size: 16px;
}

td{
	padding: 5px 0 5px 5px;
}

.card{
	padding: 5px;
}

.scroll {
    height: 100%;
}
 
#map {
    width: 100%;
    height: 100%;
}